APP_NAME=Guias API
APP_ENV=dev
DEBUG=true
DEFAULT_SOURCE=mock
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_SHEET_WORKSHEET=
DATABASE_URL=sqlite:///./guias.db
CARRIER_BASE_URL=
CARRIER_USERNAME=
CARRIER_PASSWORD=
DEFAULT_NOTIFICATION_EMAIL=
